body {
  margin: 0em;
  font-family: 'Montserrat', sans-serif;
}
.familias{
  font-family: 'Bebas Neue', sans-serif;
font-family: 'Montserrat', sans-serif;
}

h1,h2,h3,h4,h5 {
  font-family: 'Bebas Neue', sans-serif;
}

.cover {
  height:400px;
  background-image:url(https://cdn.glitch.global/73c97ac8-d2a0-4d15-ab4f-40af30e5c2e4/american-public-power-association-513dBrMJ_5w-unsplash.jpg?v=1700800195283);
  color:white;
  background-size: cover;
  background-position: center;
  background-color:rgba(0,0,0,0.15);
  background-blend-mode: darken;
}

.cover-small {
  height:200px;
  background-blend-mode: normal;

}

.card {
  border: 0 !important;
  box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1), 0 2px 4px -1px rgba(0,0,0,0.06);
}

.card-title {
  min-height:3rem;
}

.card-text {
  min-height:10rem;
}
